 <div class="left" style="width:100px;float: left;height: 500px; margin:0 20px;">
  <ul>
  	<li><a href="/admin/cate"> 分类管理 </a></li>
  	<li><a href="/admin/news"> 文章管理 </a></li>
  	<li><a href="/users/users_list"> 用户管理 </a></li>
  	<li><a href=""> 评论管理 </a></li>
  	<li><a href=""> 友情链接管理 </a></li>
  </ul>


 </div>