<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/libs/bootstrap.min.css"/>
    <!--[if lt IE 9]>
    <script src="/libs/html5shiv.min.js"></script>
    <script src="/libs/respond.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/libs/quckly.css"/>
    <link rel="stylesheet" href="/libs/fenlei.css"/>
</head>
<body>
<!--尾部-->
<div id="foot_">
    <div id="fff">
        <ul id="foot">
            <li style="border:none;"><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">决胜云南</a></li>
            <li><a href="#">服务条款</a></li>
            <li><a href="#">网站招聘</a></li>
            <li><a href="#">版权声明</a></li>
            <li><a href="#">网站地图</a></li>
        </ul>

        <br/>
        <p>北京决胜网教育科技股份有限公司 京ICP备13009167号-1 电信与信息服务业务经营许可证：京ICP证130407号</p>
        <br/>
        <br/>
        <p>Copyright © 2017 决胜网 juesheng.com All Rights Reserved. <a href="#">京公网安备 11010102000921号</a></p>
    </div>
</div>
</body>
</html>