<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="libs/bootstrap.min.css"/>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv.min.js"></script>
	<script src="libs/respond.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="libs/quckly.css"/>
	<link rel="stylesheet" href="libs/fenlei.css"/>

</head>
<body>
	 <% include ./top.ejs %>
	 <!--分类内容-->
	 <div class="container">
		 <div class="fication_left">
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
			 <div class="fication">
				 <div class="fication_block">
					 <img src="img/news.jpg" alt=""/>
				 </div>
				 <h4 class="fication_biaoti">【5月30日】教育新闻早报</h4>
				 <div class="over">
					 为防高考作弊，各省市出台政策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大学生策严格大学生请假制度；“菲教一对一”+“小班课精品班”双管齐下，51Talk正在开启在线外教作弊，各省市出台政策严格大请假制作弊，各省市出台政策严格大学生请假制新思路……
				 </div>
				 <ul class="fication_list">
					 <li style="border-radius: 20px;border:1px solid green;color:green">原创</li>
					 <li><a href="#">教育早报</a></li>
					 <li>47</li>
					 <li><a href="#">高考</a></li>
					 <li>58分钟前</li>
				 </ul>
			 </div>
		 </div>
		 <!--右边-->
		 <div class="heart_right">
			 <p><span class="jian">热点速递</span>
				 <br/>
				 <span class="heart_right_small">相关文章：232323篇</span></p>


			 <span class="jian">最新推荐</span>
			 <ul class="heart_right_list">
				 <li>教育部辟谣：未接到设置中国胸痛大学申请</li>
				 <li>教育部辟谣：未接到设置中国胸痛大学申请</li>
				 <li>教育部辟谣：未接到设置中国胸痛大学申请</li>
				 <li>教育部辟谣：未接到设置中国胸痛大学申请</li>
			 </ul>

			 <span class="jian">相似问答</span>
			 <ul class="heart_right_list">
				 <li>
					 <span class="quation">北京红舞鞋加盟费多少</span>
					 <span class="ansss">1人回答</span>
				 </li>
				 <li>
					 <span class="quation">北京红舞鞋加盟费多少</span>
					 <span class="ansss">1人回答</span>
				 </li>
				 <li>
					 <span class="quation">北京红舞鞋加盟费多少</span>
					 <span class="ansss">1人回答</span>
				 </li>
				 <li>
					 <span class="quation">北京红舞鞋加盟费多少</span>
					 <span class="ansss">1人回答</span>
				 </li>
			 </ul>
		 </div>
	 </div>



	 <% include ./foot.ejs %>
</body>
</html>